Implementation/API Server project/API Server/bin
Implementation/API Server project/API Server/.classpath
Implementation/API Server project/API Server/.project
Implementation/API Server project/API Server/.settings
